<p>Hi <%= @password_reset.user.name %>,</p>	

<p>You have requested a reset of your password</p>

<p>Please <%= link_to "click here", "#{edit_password_reset_url(@password_reset)}?token=#{@password_reset.token}"%> to change it</p>